<div class="grid">

    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

          <p class="navbar-text navbar-right">  <a href="/atendente" class="navbar-link">Sair</a></p>
          <p class="navbar-text navbar-right">  <a href="/relatorios" class="navbar-link">Relatorios</a></p>
          <p class="navbar-text navbar-right">  <a href="/atendente" class="navbar-link">Atendentes</a></p>


        </div>
      </nav>
    </div>

    <div class="row " style="margin-top: 51px; ">

      <div class="well"  >

        <div class="row col-md-offset-2">   

          <div class="col-md-3">
              <div class="dropdown" dropdown style=" cursor: pointer;"> <!-- {1} -->
                <button dropdownToggle role="button" style=" cursor: pointer;"> <!-- {2} -->
                  Selecione o Mês <span class="caret"></span></button>
                <ul *dropdownMenu class="dropdown-menu" style=" cursor: pointer;"> <!-- {3} -->
                    <li>Janeiro</li>
                    <li>Fevereiro</li>
                    <li>Março</li>
                    <li>Abril</li>
                    <li>Maio</li>
                    <li>Junho</li>
                    <li>Julho</li>
                    <li>Agosto</li>
                    <li>Setembro</li>
                    <li>Outubro</li>
                    <li>Novembro</li>
                    <li>Dezembro</li>
                </ul>
            </div>

            </div>

            <div class="col-md-3">
              <div class="dropdown" dropdown style=" cursor: pointer;"> <!-- {1} -->
                <button dropdownToggle role="button" style=" cursor: pointer;"> <!-- {2} -->
                  selecione o ano <span class="caret"></span></button>
                <ul *dropdownMenu class="dropdown-menu" style=" cursor: pointer;"> <!-- {3} -->
                    <li>2018</li>
                    <li>2017</li>
                    <li>2016</li>
                    <li>2015</li>
                    <li>2014</li>
                    <li>2013</li>
                    <li>2012</li>
                    <li>2011</li>
                    <li>2010</li>
                </ul>
            </div>
          </div>


          <div class="col-md-3">
            <div class="dropdown" dropdown style=" cursor: pointer;"> <!-- {1} -->
              <button dropdownToggle role="button" style=" cursor: pointer;"> <!-- {2} -->
                Selecione o Tipo <span class="caret"></span></button>
              <ul *dropdownMenu class="dropdown-menu" style=" cursor: pointer;"> <!-- {3} -->
                  <li>deferidos</li>
                  <li>indeferidos</li>
                  <li>pendentes</li>
                  <li>todos</li>
                
              </ul>
          </div>
        </div>


          <div class="col-md-2">
            <button type="button" class="btn btn-default" (click)="buscar()" >buscar relatorio</button>
          </div>    

        </div>

        </div>
        </div>


    <div class="relatorio-content">



    </div>



    </div>

