<div class="grid">

  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Sair</a></p>
        <p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Relatorios</a></p>
        <p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Atendentes</a></p>


      </div>
    </nav>
  </div>

  <div class="row" style="margin-top: 51px">

    <div class="well"  >

      <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Buscar Atendente">
      </div>

        <button type="button" class="btn btn-default"  >buscar</button>

        <button type="button" class="btn btn-default"  >novo</button>

    </div>
    </div>

  </div>



  <div class="row">

        <div class="col-md-4">

            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
              </div>

        </div>


      </div>



</div>
