<div class="grid">

  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Sair</a></p>
        <p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Relatorios</a></p>
        <p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Atendentes</a></p>

      </div>
    </nav>
  </div>


  <div class="row">


    <router-outlet></router-outlet>

  </div>



</div>



