<div class="grid">


  <div class="row">

    <div class="col-md-12" style="margin-bottom: 40px">

      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">

            <p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Sair</a></p>

            <p class="navbar-text navbar-right">  <a href="/clientes" class="navbar-link">Clientes</a></p>

          </div>
        </nav>


  </div>

</div>

  <div class="row">
  <div class="col-md-8 col-md-offset-2">


      <div class="input-group input-cad" style="margin-top: 40px">
          <span class="input-group-addon" id="basic-addon1">Nome Completo</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>

        <div class="input-group input-cad">

            <span class="input-group-addon" id="basic-addon2">cpf</span>
          <input type="text" class="form-control" placeholder="000.000.00-00" aria-describedby="basic-addon2">

        </div>

        <div class="input-group input-cad">
            <span class="input-group-addon">Telefone</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

        </div>

        <div class="input-group input-cad">
          <span class="input-group-addon">Rua</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

      </div>

      <div class="input-group input-cad">
        <span class="input-group-addon">Bairro</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

    </div>

    <div class="input-group input-cad">
      <span class="input-group-addon">Numero</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

    </div>

    <div class="input-group input-cad">
      <span class="input-group-addon">Cidade</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

  </div>

    <div class="input-group input-cad">
      <span class="input-group-addon">UF</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

    </div>

    <div class="input-group input-cad">
      <span class="input-group-addon">Observação</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

    </div>

    <div class="row" style="margin-top: 10px">

      <div class="col-md-3">
        <div class="dropdown" dropdown style=" cursor: pointer;"> <!-- {1} -->
          <button dropdownToggle role="button" style=" cursor: pointer;"> <!-- {2} -->
            Status <span class="caret"></span></button>
          <ul *dropdownMenu class="dropdown-menu" style=" cursor: pointer;"> <!-- {3} -->
              <li>deferidos</li>
              <li>indeferidos</li>
              <li>pendentes</li>
              <li>todos</li>

          </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="dropdown" dropdown style=" cursor: pointer;"> <!-- {1} -->
        <button dropdownToggle role="button" style=" cursor: pointer;"> <!-- {2} -->
          situação <span class="caret"></span></button>
        <ul *dropdownMenu class="dropdown-menu" style=" cursor: pointer;"> <!-- {3} -->
            <li>deferidos</li>
            <li>indeferidos</li>
            <li>pendentes</li>
            <li>todos</li>

        </ul>
    </div>
  </div>



    </div>



  <div class="row row-centered" style="margin-top: 20px; text-align: right">


          <button type="button" class="btn btn-secondary " style="margin: 10px">limpar</button>

          <button type="button" class="btn btn-success  " style="margin-right: 15px">salvar</button>


  </div>

</div>

  <!-- grid-->
 </div>
