<div class="grid">

  <div class="col-md-8 col-md-offset-2">


      <div class="input-group input-cad" style="margin-top: 40px">
          <span class="input-group-addon" id="basic-addon1">Nome Completo</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group input-cad">
          
            <span class="input-group-addon" id="basic-addon2">cpf</span>
          <input type="text" class="form-control" placeholder="000.000.00-00" aria-describedby="basic-addon2">
          
        </div>
        
        <div class="input-group input-cad">
            <span class="input-group-addon">E-mail</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
         
        </div>
        
        <div class="input-group input-cad">
          <span class="input-group-addon" id="basic-addon3">senha</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>


        
        <div class="input-group input-cad">
            <span class="input-group-addon" id="basic-addon3">confirme senha</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>



          
  <div class="row row-centered" style="margin-top: 20px; text-align: right">


          <button type="button" class="btn btn-secondary " style="margin: 10px">limpar</button>
               
          <button type="button" class="btn btn-success  " style="margin-right: 15px">salvar novo atendente</button>
        
      
  </div>



  <!-- grid-->
 </div> 
