<div class="grid">

  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <p class="navbar-text navbar-right">  <a href="/atendente" class="navbar-link">Sair</a></p>

        <p class="navbar-text navbar-right">  <a href="/atendente" class="navbar-link">Atendentes</a></p>


      </div>
    </nav>
  </div>

  <div class="row" style="margin-top: 51px">

    <div class="well"  >

      <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Buscar Atendente">
      </div>

        <button type="button" class="btn btn-default" (click)="buscar()" >buscar</button>

        <button type="button" class="btn btn-default" (click)="novo()"  >novo</button>

    </div>
    </div>

  </div>



  <div class="row" style="margin-left: 4px">

        <div class="col-md-3">

            <div class="jumbotron">
                <h3>Atendente - COD - 0001!</h3>

                <div class="row" style="text-align: center">
                <img src="../../assets/afeam_logo.jpg" width="200" height="200" style="text-align: center">

                </div>

                <p>Status: </p>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">

                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Desabilitar</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Excluir</button>
                    </div>
                  </div>

              </div>

        </div>


        <div class="col-md-3">

            <div class="jumbotron">
                <h3>Atendente - COD - 0001!</h3>

                <div class="row" style="text-align: center">
                <img src="../../assets/afeam_logo.jpg" width="200" height="200" style="text-align: center">

                </div>

                <p>Status: </p>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">

                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Desabilitar</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Excluir</button>
                    </div>
                  </div>

              </div>

        </div>

        <div class="col-md-3">

            <div class="jumbotron">
                <h3>Atendente - COD - 0001!</h3>

                <div class="row" style="text-align: center">
                <img src="../../assets/afeam_logo.jpg" width="200" height="200" style="text-align: center">

                </div>

                <p>Status: </p>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">

                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Desabilitar</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Excluir</button>
                    </div>
                  </div>

              </div>

        </div>

        <div class="col-md-3">

            <div class="jumbotron">
                <h3>Atendente - COD - 0001!</h3>

                <div class="row" style="text-align: center">
                <img src="../../assets/afeam_logo.jpg" width="200" height="200" style="text-align: center">

                </div>

                <p>Status: </p>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">

                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Desabilitar</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Excluir</button>
                    </div>
                  </div>

              </div>

        </div>


        <div class="col-md-3">

            <div class="jumbotron">
                <h3>Atendente - COD - 0001!</h3>

                <div class="row" style="text-align: center">
                <img src="../../assets/afeam_logo.jpg" width="200" height="200" style="text-align: center">

                </div>

                <p>Status: </p>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">

                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Desabilitar</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Excluir</button>
                    </div>
                  </div>

              </div>

        </div>

        <div class="col-md-3">

            <div class="jumbotron">
                <h3>Atendente - COD - 0001!</h3>

                <div class="row" style="text-align: center">
                <img src="../../assets/afeam_logo.jpg" width="200" height="200" style="text-align: center">

                </div>

                <p>Status: </p>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">

                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Desabilitar</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Excluir</button>
                    </div>
                  </div>

              </div>

        </div>


      </div>




</div>

